.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
    justify-content: center;
    padding: 20px;
}

.square {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
}

.controls {
    justify-self: center;
    padding: 20px;
    
}

.player1, .player2, .start, .restart {
    background-color: black;
    color: white;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
}

.header {
    justify-self: center;
}

.message {
    justify-self: center;
}

* {
    background-color: grey;
}